<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="login-container">

  <h2>Dashboard</h2>

  <p>
    Current status:
    <strong th:text="${session.punchStatus}"></strong>
  </p>

  <div class="button-group">

    <form action="/punch/start" method="post">
      <button type="submit">Start Work</button>
    </form>

    <form action="/punch/end" method="post">
      <button type="submit">End Work</button>
    </form>

    <form action="/punch/break-in" method="post">
      <button type="submit">Break In</button>
    </form>

    <form action="/punch/break-out" method="post">
      <button type="submit">Break Out</button>
    </form>
  </div>
  <br>
  <a href="/statistics">Statistics</a>

</div>

</body>
</html>
