<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Statistics</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>Work Statistics</header>

<div class="container">
    <div class="card">
        <h2>Summary (Last 2 Months)</h2>
        <ul>
            <li>Average daily hours: 6</li>
            <li>Average break time: 0.5</li>
            <li>Average extra hours: 1</li>
        </ul>

        <a class="footer-link" href="/dashboard">← Back to dashboard</a>
    </div>
</div>

</body>
</html>
